control-center:
  image: confluentinc/cp-enterprise-control-center:{{release}}
  hostname: control-center
  container_name: control-center
  depends_on:
    {{zookeeper-containers}}
    {{broker-containers}}
    {{schema-registry-containers}}
  ports:
    - "9021:9021"
  environment:
    CONTROL_CENTER_BOOTSTRAP_SERVERS: {{kafka-bootstrap-servers}}
    CONTROL_CENTER_ZOOKEEPER_CONNECT: {{zookeeper-ports}}
    CONTROL_CENTER_SCHEMA_REGISTRY_URL: "http://schema-registry1:8081"
    CONTROL_CENTER_REPLICATION_FACTOR: 1
    CONTROL_CENTER_INTERNAL_TOPICS_PARTITIONS: 1
    CONTROL_CENTER_MONITORING_INTERCEPTOR_TOPIC_PARTITIONS: 1
    CONFLUENT_METRICS_TOPIC_REPLICATION: 1
    PORT: 9021
